@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo{
    width: 6.25rem;
    height: 6.25rem;
    position: absolute;
    top: 10;
    left: 10;
}
.logo-panel{
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 3.125rem;
}
.admin-form{
    display: inline-flex;
    border: 0.0625rem solid #079a8e;
    box-shadow: 0rem 0rem 0.5rem 0rem rgba(48, 213, 200, 0.8);
    padding:1.25rem;
    padding-right: 1.875rem;
    padding-left: 0rem;
    border-radius: 1.25rem;
    margin-left: 20%;
    margin-top: 0.2%;
}
.login{
    margin-top: 4%;
}
.form-content,.sub-admin,.createUser{
    padding: 2.5rem;
    padding-bottom: 0rem;
    border-radius: 1.25rem;
}
.sub-admin,.createUser{
     box-shadow: 0rem 0rem 0.5rem 0rem rgba(48, 213, 200, 0.8);
}
.form-content h1 ,.sub-admin h1,.createUser h1{
    color: #079a8e;
    display: inline-block;
    border-bottom: 0.125rem solid rgb(48, 213, 200);
    padding-bottom: 0.9375rem;
    margin-bottom: 0.625rem;
   
}
.right-img img{
    width: 25rem;
    height: 25rem;
    margin-top: 15%;
}
label{
    display: block;
    margin-top: 0.9375rem;
    margin-bottom: 0.5rem;
    color:#054c46;
}
input,textarea{
    display: block;
    width: 100%;
    border: 0.0625rem solid rgb(48, 213, 200);
    border-radius: 0.625rem;
    padding: 0.625rem;
}
input[type="submit"]{
    margin-top: 1.25rem;
    background-color: #30D5C8;
    font-weight: bold;
    border-radius: 0.9375rem;
}
input[type="submit"]:hover{
    opacity: 0.7;
}
.admin{
    display: block;
    margin-top: 0.625rem;
    text-decoration-color: black;
    font-weight: bold;
    text-transform: uppercase;
    word-spacing: 0.3125rem;
    text-align: center;
}
a{
    display: block;
    margin-top: 0.9375rem;
}
.error{
    color: red;;
}

.not-found{
    background-color: rgb(255, 211, 217);
    border: 0.0625rem solid red;
    color: red;
    border-radius: 0.625rem;
    display: inline;
    padding: 0.625rem 1.25rem;
    position: absolute;
    top: 1%;
    right: 40%;
}

.main-container{
    display: flex;
}
.left-nav{
    background-color: rgb(48, 213, 200);
    height: 100vh;
    padding:1.25rem 2.5rem ;
}
.left-nav nav ul{
    margin-top: 20%;
}
.left-nav nav ul li{
    margin-bottom: 1.25rem;
    list-style: none;
    font-weight: bold;
}
.link
{
    color: black;
    text-decoration: none;
    border-bottom: 0.0625rem solid black;
    padding-bottom: 0.3125rem;
}
.link:hover
{
    color: #046c63;
}
.admin-heading{
    text-decoration: none;
}
.admin-heading h1{
    color: black;
    font-family: 'Bonheur Royale', cursive;
    font-size: 3.125rem;
}
iframe{
    width: 81vw;
    height: 99vh;
}
.default{
    width: 80vw;
    text-align: center;
    font-family: 'Bonheur Royale', sans-serif;
    font-size: 6.25rem;
    color: #30D5C8;
}
.defaultimg{
    height: 80vh;
}
.sub-admin{
    width: 50vw;
    margin-left: 25%;
    margin-top: 4%;
    padding: 2.5rem; 
    border: 0.0625rem solid; 
}
table{
    margin-top: 2%;
    margin-left: 25%;
}
th{
    background-color: rgb(83, 247, 233);
}
td,th{
    border: 0.0625rem solid black;
    padding: 0.625rem;
}
.nav-bar{
    background-color: rgb(48, 213, 200);
    padding: 1.25rem;
    border-left: 0.0625rem solid #046c63;
    display: flex;
    justify-content: space-between;
}

td a{
    text-decoration: none;
    background-color: red;
    border-radius: 0.625rem;
    padding: 0.625rem 0.9375rem;
    color: white;
}
td a:hover{
    opacity: 0.5;
}

.createUser{
    width: 40vw;
    padding: 1.25rem;
    border-radius: 0.625rem;
    margin-left: 20%;
    margin-top: 1rem;
    border: 0.0625rem solid #046c63;
}
.createUser{
    display: inline-block;
}
input[type="radio"]{
    width: 1.25rem;
    height: 0.9375rem;
}
.radio{
    display: inline-flex;
    padding-right: 0.625rem;
    align-items: center;
}
.active{
    background-color: rgb(86, 247, 86);
    color: black;
}
.deactive{
    background-color: green;
}
.blog{
    margin-left: 2%;
    margin-right: 2%;
}
.blog label{
    font-weight: bold;
}
.edit{
    background-color: royalblue;
}
.filter{
    width: 6.25rem;
}
.filter input{
    margin: 0;
    display: inline;
}
.filter select{
    display: inline;
}