head{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo{
    width: 6.25rem;
    height: 6.25rem;
    position: absolute;
    top: 10;
    left: 10;
    border-radius: 3.125rem;
}
form{
    display: inline-flex;
    border: 0.0625rem solid purple;
    box-shadow: 0rem 0rem 0.375rem 0rem rgba(245, 17, 245,0.5);
    padding:1.25rem;
    padding-right: 1.875rem;
    padding-left: 0rem;
    border-radius: 1.25rem;
    margin-left: 20%;
    margin-top: 0.8%;
    background-color: white;
}
.login{
    margin-top: 4%;
}
.form-content{
    padding: 2.5rem;
    padding-bottom: 0rem;
    border-radius: 1.25rem;
}
.form-content h1{
    color: purple;
    display: inline-block;
    border-bottom: 0.125rem solid purple;
    padding-bottom: 0.9375rem;
    margin-bottom: 0.625rem;
   
}
.right-img img{
    width: 25rem;
    height: 25rem;
    margin-top: 15%;
}
label{
    display: block;
    margin-top: 0.9375rem;
    margin-bottom: 0.5rem;
}
input{
    display: block;
    width: 100%;
    border: 0.0625rem solid purple;
    border-radius: 0.625rem;
    padding: 0.625rem;
}
input[type="submit"]{
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
    background-color: rgb(245, 17, 245);
    color: whitesmoke;
    border-radius: 0.9375rem;
}
input[type="submit"]:hover{
    opacity: 0.7;
}
.admin{
    display: block;
    margin-top: 0.625rem;
    text-decoration-color: black;
    font-weight: bold;
    text-transform: uppercase;
    word-spacing: 0.3125rem;
    text-align: center;
}
a{
    display: block;
    margin-bottom: 0.3125rem;
}
.error{
    color: red;
}

.activate,.not-activate,.status{
    border: 0.0625rem solid green;
    border-radius: 0.625rem;
    background-color: rgb(166, 245, 166);
    color: green;
    display: inline;
    padding: 0.625rem 1.25rem;
    position: absolute;
    top: 1%;
    right: 40%;
}
.not-activate{
    background-color: rgb(255, 211, 217);
    border: 0.0625rem solid red;
    color: red;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 17, 245);
}
.nav-bar div{
    display: inline;
}
.nav-bar div h1{
    display: inline;
}
.logo-left div{
    height: 6.25rem;
    width: 6.25rem;
}
.logo-nav{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 3.125rem;
    object-fit: fill;
}
.logo-left{
    display: flex;
    flex-direction: column;
    padding: 0rem 0.3125rem;
    align-items: center;
}
.nav-bar div a{
    padding: 0.625rem;
    margin: 0.625rem;
    margin-left: 0;
    background-color: purple;
    color: white;
    border-radius: 0.625rem;
    text-decoration: none;
}
a:hover{
    opacity: 0.8;
}
.title{
    text-align: center;
    margin-top: 1rem;
    border-bottom: 0.0625rem solid black;
    padding-bottom: 1rem;
}
.description{
    margin: 1rem;
    line-height: 1.7rem;
    height: 65vh;
    overflow: auto;
    border-bottom: 0.0625rem solid black;
}
.like{
    display: inline;
    margin: 0.5rem;
    text-decoration: none;
    color: green;
}
.numbers{
    margin-left: 1rem;
    font-weight: bold;
}
.back{
    position: absolute;
    top: 1.5%;
    right: 10%;
    border-radius: 0.625rem;
    text-decoration: none;
    color: white;
    background-color: purple;
    padding: 0.625rem;
}
.blogList{
    margin: 2rem;
}
.blogList li{
    margin-bottom: 0.5rem;
    border: 0.0625rem solid black;
    padding: 1rem;
    border-radius: 0.625rem;
    font-weight: bold;
    overflow: auto;
    box-shadow: 0rem 0rem 0.3125rem 0rem rgba(0, 0,0,0.6);
}
.blogList li a{
    text-decoration: none;
    color: black;
}
.date{
    text-align: right;
    color: rgb(112, 110, 110);
    padding-right: 2.5rem;
}